.cartMenu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 450px;
  padding: 10px 20px;
  background: rgb(36, 37, 41);
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgb(84, 86, 95);

  @media (max-width: 576px) {
    width: 300px;
  }
}

.list {
  margin-bottom: 20px;
}
