.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 20px;
}

.link {
  font-size: 28px;
  font-weight: 700;
}

.cart {
  position: relative;
}
